body {
    background-color: hsl(212, 45%, 89%);
}


.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.boldtext {
    text-align: center;
    font-family: "Outfit";
    font-weight: 700;
    font-size: 20px;
}

p {
    font-size: 15px;
}

.para {
    text-align: center;
    font-family: "Outfit";
    font-weight: 400;
}

.container {
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 620px;
    margin-right: 620px;
    margin-top: 70px;
}