body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.boldtext {
    text-align: center;
    font-family: "Outfit";
    font-weight: 700;
    font-size: 1.5rem;
}



.para {
    text-align: center;
    font-family: "Outfit";
    font-weight: 400;
}

.container {
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    padding-top: 20px;
    padding-bottom: 40px;
    width: 21rem;
}